// Toolbar
mat-toolbar{
    background-color: transparent;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
                0px 1px 1px 0px rgb(0 0 0 / 14%),
                0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
    border-bottom: 1px solid lightgray;
    // z-index: 2;
  }
  mat-toolbar .mat-button{
    padding:0 !important;
  }
  mat-toolbar span{
    font-size: 14px;
  }
  mat-toolbar button{
    outline:none;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    height:50px;
    padding-left: 12px;
  }
  



  .side-container {
    height:calc(100vh - 50px);
  }
  .sidenav-content {
    height: 100%;
    width:100%;
    overflow-x:hidden;
    padding: 10px;
    background: white;
  }
  .spacer{
    flex:1 1 auto;
  }
  mat-sidenav mat-expansion-panel .mat-expansion-panel-header:hover{
    background:transparent;
  }
  
  .mat-expansion-panel-header{
      height:41px;
      padding:0;
  }
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description{
    margin-right:0;
  }
  .mat-expansion-panel{
    background:transparent;
  }
  mat-panel-title,mat-panel-title a{
    color:#e7e6e6;
  }
  mat-expansion-panel a{
  text-decoration: none;
  }
  
  .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow:none;
  }
  ::ng-deep .mat-expansion-indicator::after{
    padding-right:5px;
  }
  .mat-button:focus,.mat-button:hover{
    outline:none;
    background: transparent;
  }
  ::ng-deep mat-expansion-panel .mat-expansion-panel-body {
    padding: 0;
  }
  .mat-expansion-panel-spacing {
    margin:0;
  }
  
  .mat-list-item-content{
    height:0;
  }
  ::ng-deep mat-list-item .mat-list-item-content{
    padding: 0 !important;
  }
  ::ng-deep mat-list-item .mat-list-item{
    height:30px;
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height:40px !important;
    padding:0 5px;
  }
  .mat-list-base{
    padding-top:0;
  }
  ::ng-deep mat-icon .mat-icon .mat-list-icon{
    padding:0 !important;
  }
    ul{
      padding: 0;
      margin: 0;
    }
    #subMenu{
      font-size: 12px;
      // line-height:2;
      margin-left: 20%;
    }
    .active-link {
      background-color: rgba(0,0,0,0.3) !important;
      color: white !important;
    }
  ul mat-list-item{
    cursor:pointer;
  }
  .mat-list-base .mat-list-item{
    color:#e7e6e6;
  }
  .menuOpen{
    width:60px;
  }
  .menuExpand{
    width:200px;
  }
  mat-drawer{
   background-color: rgb(28, 126, 206);
   color: #e7e6e6;
   box-shadow: 0px 2px 1px -1px rgb(28, 126, 206),
               0px 1px 1px 0px rgb(28, 126, 206),
               0px 1px 3px 0px rgb(28, 126, 206);
   padding:10px 0;
  }
  mat-drawer mat-icon{
    color:#e7e6e6;
    padding-left: 12px;
    padding-right: 3rem;
  }
  .parent-menu{
    padding: 0 !important;
    min-width: 0;
    margin:0;
  }
  .navigate_next{
    width:20px;
  }
  .mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none !important;
    background:none !important;
    opacity: 0;
  }
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    user-select: none !important;
  }
  