<!-- Toolbar -->
<mat-toolbar>
    <button mat-icon-button color="primary" (click)="drawer.toggle()">
        <mat-icon class="material-icons">menu</mat-icon>
    </button>
    <a routerLink="/" class="pl-2">
        <img src="assets/images/cbtlogo.png" alt="CBTlogo" width="80px" height="40px" />
    </a>
    <div class="spacer"></div>
    <span style="color:rgb(28, 126, 206)">welcome {{username}}</span>
    <mat-icon (click)="logout()" class="ml-2">logout</mat-icon>

</mat-toolbar>
<mat-drawer-container class="side-container">
    <mat-drawer #drawer mode="side" opened>
        <mat-list *ngFor="let menuItem of sideMenuItems; let i = index">
            <mat-list-item [routerLink]="menuItem.routerLink">

                <!-- <mat-icon [ngStyle]="{'padding-right':showFiller ? '2rem':'3rem'}">{{ menuItem.icon }}
                </mat-icon> -->
                <a style="cursor: pointer;">{{ menuItem.title }}</a>
                <mat-icon *ngIf="menuItem.subMenu" (click)="submenuExpansion()" style="cursor: pointer;">{{iconname}}
                </mat-icon>

            </mat-list-item>
            <!-- <ng-template #showSubMenuTitle>
                <mat-list-item [ngStyle]="{'padding-left':showFiller ? 0 : '5px'}"
                    [ngClass]="{'active-link': url.includes(menuItem.routerLink)}">
                    <mat-icon [ngClass]="{'parent-menu':menuItem.subMenu}" class="material-icons-outlined navigate_next"
                        *ngIf="showFiller && menuItem.subMenu ">
                        {{id.expanded ?'keyboard_arrow_down':'navigate_next'}}
                    </mat-icon>
                    <mat-icon
                        [ngStyle]="{'padding-left':showFiller ? 0 : '12px','padding-right':showFiller ? '2rem':'3rem'}">
                        {{ menuItem.icon }}</mat-icon>
                    <a>{{ menuItem.title }}</a>
                    <div class="spacer"></div>
                </mat-list-item>
            </ng-template> -->
            <ul *ngIf="isExpanded">
                <mat-list-item *ngFor="let subMenu of menuItem.subMenu; let i = index" [routerLink]="subMenu.routerLink"
                    [ngClass]="{'active-link': url.includes(subMenu.routerLink)}">
                    <div id="subMenu">
                        {{ subMenu.title }}
                    </div>
                </mat-list-item>
            </ul>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sidenav-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>





<!-- <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [class.menuOpen]="showFiller" [class.menuExpand]="showFiller"
        opened>
        <mat-accordion class="sidenav-headers-align" #accordion="matAccordion" multi="true">
            <mat-list *ngFor="let menuItem of sideMenuItems; let i = index">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    [expanded]="showFiller&& url.includes(menuItem.routerLink)" hideToggle #id>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-list-item [routerLink]="menuItem.routerLink"
                                [ngClass]="{'active-link': url.includes(menuItem.routerLink)}"
                                *ngIf="!menuItem.subMenu; else showSubMenuTitle">
                                <mat-icon [ngStyle]="{'padding-right':showFiller ? '2rem':'3rem'}">{{ menuItem.icon }}
                                </mat-icon>
                                <a>{{ menuItem.title }}</a>
                            </mat-list-item>
                            <ng-template #showSubMenuTitle>
                                <mat-list-item [ngStyle]="{'padding-left':showFiller ? 0 : '5px'}"
                                    [ngClass]="{'active-link': url.includes(menuItem.routerLink)}">
                                    <mat-icon [ngClass]="{'parent-menu':menuItem.subMenu}"
                                        class="material-icons-outlined navigate_next"
                                        *ngIf="showFiller && menuItem.subMenu ">
                                        {{id.expanded ?'keyboard_arrow_down':'navigate_next'}}
                                    </mat-icon>
                                    <mat-icon
                                        [ngStyle]="{'padding-left':showFiller ? 0 : '12px','padding-right':showFiller ? '2rem':'3rem'}">
                                        {{ menuItem.icon }}</mat-icon>
                                    <a>{{ menuItem.title }}</a>
                                    <div class="spacer"></div>
                                </mat-list-item>
                            </ng-template>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul *ngIf="menuItem && menuItem.subMenu && menuItem.subMenu.length">
                        <mat-list-item *ngFor="let subMenu of menuItem.subMenu; let i = index"
                            [routerLink]="subMenu.routerLink"
                            [ngClass]="{'active-link': url.includes(subMenu.routerLink)}">
                            <div id="subMenu">
                                {{ subMenu.title }}
                            </div>
                        </mat-list-item>
                    </ul>
                </mat-expansion-panel>
            </mat-list>
        </mat-accordion>
    </mat-drawer>
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container> -->