<div class="imageDiv" align="center">
    <mat-card class="Tvscard">
        <mat-card-content>
            <Img src="/assets/images/tvs.png" width="500" height="200">
            <h1> TVS-SriChakra Madurai Plant</h1>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                style="display:flex;  justify-content: center; padding-left: 5px;" (click)="onClick()">
                <mat-icon>subdirectory_arrow_right</mat-icon>
            </button>

        </mat-card-content>
    </mat-card>

</div>