.Tvscard{
    width:700px;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}
.imageDiv{
  

    height:100%;
    width:auto;
    background-color: cornflowerblue;
    
    background-size: 100% ;  
    background-size: cover; 
    overflow: hidden;
}
h1{
    color:rgb(244, 111, 32);
    font-weight: 500;
}