<div class="loginBg">
    <img src="assets/images/cbtlogo_nobg.png" class="logoImg">
    <mat-card class='login-card'>
        <mat-card-header class="header">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="subcard">
                <mat-card-content>
                    <form [formGroup]="loginForm">
                        <div class="loginCardView">
                            <mat-form-field appearance="outline" style="width: 60%;margin-top: 10px;">
                                <mat-label>User ID</mat-label>
                                <input formControlName="userID" matInput required>
                                <mat-error>user ID is required</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error>password is required</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 60%;">
                                <mat-label>Company Code</mat-label>
                                <input formControlName="code" matInput required>

                                <mat-error>code is required</mat-error>
                            </mat-form-field>
                            <!-- <p class="error-message">{{ erroMesssage }}</p> -->

                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <div class="loginBtnDiv">
                <button mat-raised-button type="submit" class='loginBtn' (click)="login()">Login</button>
                <!-- <button mat-raised-button class="register" (click)="userRegister()"
            color="primary">Register</button> -->

            </div>
        </mat-card-content>
    </mat-card>
    <p class="footText mt-4">&copy;2022 Carbynetech,Inc... All Rights Reserved.</p>
</div>