.loginBg {
    height:100%;
    width:auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  
    background-image:url('../../../src/assets/images/backimg.jpg') ;
    background-size: 100% ;  
    background-size: cover; 
    overflow: hidden;
  }
  .logoImg {
    width: 293px;
    height: 140px;
    margin-top: 50px;
  }

//   .text-head {
//     color:#0097A7;
//     font-family: sans-serif;
//     font-size: 20px;
//     margin-top:20px;
//     margin-bottom: 20px;
//   }
.mat-card-header{
    padding-top: 10px;
    background-color:rgb(214, 214, 214) !important;
    width:500px
}
// .mat-card-content{
//     padding:5px !important;
//   }
.mat-card{
    padding:0 !important;
  }
  .login-card {
    width:500px;
    height:400px;
    border: 1px solid #EEF2F7;
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    margin-top: 10px;
  }
  .loginCardView {
    margin-top: 20px;
    width:100%;
    text-align: center;
    font-size: 15px;
     align-items: center;
  }

  .loginBtn {
      width: 100px;
      height: 40px;
      font-size: 16px;
      margin-top: 20px;
      background-color:steelblue;
      color:white;
      display: flex;
      justify-content: center;
    align-items: center;

  }
.loginBtnDiv{
display: flex;
justify-content: center;
}
//   .register{
//     margin-left: 10px;
//   }
  .error-message {
    font-size: 14px;
    color: red;
  }
  .subcard{
      width:400px;
      height:260px;
      margin-top: 30px;
  }
.footText{
    
    color: white;
}
