.row-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    mat-label {
        width:15%;
      }
      mat-form-field {
        width:35%;
      }

}
.row-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  mat-label {
    width:10%;
  }
  mat-form-field {
    width:85%;
  }
}

.mixingForm{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
  }
  th.mat-header-cell, td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}
.disable{
  pointer-events: none;
  color: gray;
}