<div class="mixingForm" align="center">
    <div class="">
        <h2 style="margin-left: 10px; color:teal;">Log Sheet</h2>
        <div class="row row-1">
            <mat-label>MACHINE NAME/मशीन का नाम :</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="machineName">
                <!-- [ngClass]="{ 'is-invalid': submitted && f.machineName.errors }" -->
                <mat-error></mat-error>
            </mat-form-field>

            <mat-label>Operator Name/ऑपरेटर का नाम:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="operatorName">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="row row-1">
            <mat-label>Date/दिनांक:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-label>Shift/खिसक जाना:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <mat-select [(ngModel)]="shift">
                    <mat-option value="Shift-A">Shift-A</mat-option>
                    <mat-option value="Shift-B">Shift-B</mat-option>
                    <mat-option value="Shift-C">Shift-C</mat-option>
                </mat-select>

            </mat-form-field>

        </div>
        <hr>

        <form [formGroup]="logForm">
            <div class="row row-1" id="formData">
                <mat-label>TRT No/टीआरटी नंबर:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="trtNo" matInput type="number">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Size/आकार:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="size" matInput type="number">
                    <mat-error></mat-error>
                </mat-form-field>


            </div>
            <div class="row row-1">
                <mat-label>No of Roll/रोल की संख्या:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="noOfRoll" matInput type="number">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Output Meters/आउटपुट मीटर:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="outputMeters" matInput type="number">
                    <mat-error></mat-error>
                </mat-form-field>


            </div>
            <div class="row row-1">
                <mat-label>Running Time (From)/चलने का समय (से) :</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="runningTimeFrom" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Running Time (To)/चलने का समय (को)</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="runningTimeTo" matInput>
                    <mat-error></mat-error>
                </mat-form-field>

            </div>
            <div class="row row-1">
                <mat-label>Down Time (From)/डाउन टाइम (से):</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="downTimeFrom" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Down Time (To)/डाउन टाइम (टू):</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="downTimeTo" matInput>
                    <mat-error></mat-error>
                </mat-form-field>


            </div>
            <div class="row row-1">
                <mat-label>Sap Document/एसएपी दस्तावेज़:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="sapDocument" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Reason Code/कारण कोड:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="reasonCode" matInput>
                    <mat-error></mat-error>
                </mat-form-field>


            </div>
            <div class="row row-2">
                <mat-label>Reason/कारण:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="reason" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <button type="submit" mat-flat-button color="primary" class="mb-3" *ngIf="!isUpdate"
                (click)="onSubmit()">Submit</button>
            <button type="submit" mat-flat-button color="primary" class="mb-3" *ngIf="isUpdate"
                (click)="onUpadte()">Update</button>


            <!-- <button type="reset" mat-flat-button color="primary" class="mb-3 ml-3" (click)="onCancel()">Reset</button> -->
        </form>
    </div>
</div>
<br>
<div class="tableDiv mt-5">
    <div class="row">
        <div class="col-9">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">TRT No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.trtNo}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Size </th>
                    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> No.Of Roll </th>
                    <td mat-cell *matCellDef="let element"> {{element.noOfRoll}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Output Meters </th>
                    <td mat-cell *matCellDef="let element"> {{element.outputMeters}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="header-row-running-group">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Running Time </th>
                </ng-container>
                <ng-container matColumnDef="timeFrom">
                    <th mat-header-cell *matHeaderCellDef> From</th>
                    <td mat-cell *matCellDef="let element"> {{element.runningTimeFrom}} </td>
                </ng-container>
                <ng-container matColumnDef="timeTo">
                    <th mat-header-cell *matHeaderCellDef> To</th>
                    <td mat-cell *matCellDef="let element"> {{element.runningTimeTo}} </td>
                </ng-container>
                <ng-container matColumnDef="header-row-down-group">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Down Time </th>
                </ng-container>

                <ng-container matColumnDef="downTimeFrom">
                    <th mat-header-cell *matHeaderCellDef> From</th>
                    <td mat-cell *matCellDef="let element"> {{element.downTimeFrom}} </td>
                </ng-container>
                <ng-container matColumnDef="downTimeTo">
                    <th mat-header-cell *matHeaderCellDef> TO</th>
                    <td mat-cell *matCellDef="let element"> {{element.downTimeTo}} </td>
                </ng-container>
                <ng-container matColumnDef="reasonCode">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> ReasonCode </th>
                    <td mat-cell *matCellDef="let element"> {{element.reasonCode}} </td>
                </ng-container>
                <ng-container matColumnDef="reason">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Reason</th>
                    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
                </ng-container>
                <ng-container matColumnDef="sapdoc">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> SAP Document</th>
                    <td mat-cell *matCellDef="let element"> {{element.sapDocument}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="table-header" [attr.rowspan]="2"> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon id="action-icons" (click)="onEdit(element)" [ngClass]="{'disable':isEdit== true}">
                            create</mat-icon>
                    </td>
                </ng-container>

                <!-- Header row first group -->
                <ng-container matColumnDef="header-row-first-group">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        Machine Name:{{machine}}
                    </th>
                </ng-container>
                <!-- Header row second group -->
                <ng-container matColumnDef="header-row-second-group">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Operator Name: {{operator}} </th>
                </ng-container>
                <!-- Header row third group -->
                <ng-container matColumnDef="header-row-third-group">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="6"> Date & Shift: {{dateShift}} </th>
                </ng-container>
                <!-- <ng-container matColumnDef="header-row-fourth-group">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> Down Time Code: </th>
        
                </ng-container> -->
                <tr mat-header-row
                    *matHeaderRowDef="['header-row-first-group', 'header-row-second-group','header-row-third-group']">
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-header-row *matHeaderRowDef="['header-row-running-group','header-row-down-group']">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="col-3">
            <mat-card>
                <mat-card-title align="center">Down Time Code</mat-card-title>
                <mat-card-content>
                    <p *ngFor="let value of downTime" class="mt-3">{{value}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>