<div align="center" style="margin-top:15rem">
    <mat-card class="accesscard">
        <mat-card-content class="cardcontent">
            <mat-icon color="warn">cancel</mat-icon>
            <p>Access Denied!</p>
        </mat-card-content>
    </mat-card>
</div>