.accesscard{
    width:250px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardcontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
