<div class="mixingForm" align="center">
    <div class="">
        <h2 style="margin-left: 10px; color:teal;">Equipment Maintenance Log</h2>
        <div class="row row-1">
            <mat-label>Name of Equipment/उपकरण का नाम :</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="eqpName">
                <mat-error></mat-error>
            </mat-form-field>

            <mat-label>Manufacturer's Contact Details/निर्माता का संपर्क विवरण:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="contact" min="10" max="10">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="row row-1">
            <mat-label>Label/लेबल:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="label">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-label>Date of Purchase/खरीदने की तारीख:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="dateofPurchase">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error></mat-error>
            </mat-form-field>


        </div>
        <div class="row row-1">
            <mat-label>Serial Number/क्रमिक संख्या :</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="serialno" type="number">
                <mat-error></mat-error>
            </mat-form-field>

            <mat-label>Person responsible for Equipment/उपकरण के लिए जिम्मेदार व्यक्ति:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="reseqp">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="row row-1">
            <mat-label>Manufacturer/उत्पादक:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [(ngModel)]="manufacturer">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-label>Date put into service/सेवा में लगाने की तिथि:</mat-label>
            <mat-form-field appearance="outline" class="mt-2">
                <input matInput [matDatepicker]="picker2" [(ngModel)]="dateService">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error></mat-error>
            </mat-form-field>


        </div>
        <hr>

        <form [formGroup]="maintenanceForm">
            <div class="row row-1" id="formData">
                <mat-label>Date /तारीख:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input matInput [matDatepicker]="picker3" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Maintenance Description/रखरखाव विवरण:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="descrp" matInput>
                    <mat-error></mat-error>
                </mat-form-field>


            </div>
            <div class="row row-1">
                <mat-label>Maintenance Performed by/द्वारा किया गया रखरखाव:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="mpb" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Date of validation before put into
                    service/में डालने से पहले सत्यापन की तिथि सेवा:</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input matInput [matDatepicker]="picker5" formControlName="dateServ">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                    <mat-error></mat-error>
                </mat-form-field>



            </div>
            <div class="row row-1">
                <mat-label>Validation performed by/द्वारा किया गया सत्यापन :</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="vpb" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-label>Next maintenance planned on(date)/अगले रखरखाव की योजना (तारीख)</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input matInput [matDatepicker]="picker4" formControlName="planneddate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>

            <div class="row row-2">
                <mat-label>Remarks/टिप्पणियों :</mat-label>
                <mat-form-field appearance="outline" class="mt-2">
                    <input formControlName="remarks" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <button type="submit" mat-flat-button color="primary" class="mb-3" *ngIf="!isUpdate"
                (click)="onSubmit()">Submit</button>
            <button type="submit" mat-flat-button color="primary" class="mb-3" *ngIf="isUpdate"
                (click)="onUpadte()">Update</button>

        </form>
    </div>
</div>
<br>
<div class="tableDiv mt-5">
    <div class="row">
        <div class="col-3 fields">
            <p>Name Of Equipment:</p>
            <p>Label:</p>
            <p>Serial Number:</p>
            <p>Manufacturer:</p>

        </div>
        <div class="col-3">
            <p>{{equipmentName}}</p>
            <p>{{lbl}}</p>
            <p>{{serialNo}}</p>
            <p>{{mf}}</p>

        </div>
        <div class="col-3 fields">
            <p>Manufacturer's Contact Details:</p>
            <p>Date of Purchase:</p>
            <p>Person responsible for Equipment:</p>
            <p>Date put into service:</p>
        </div>
        <div class="col-3">
            <p>{{contactDetails}}</p>
            <p>{{datepurchase}}</p>
            <p>{{resequip}}</p>
            <p>{{ds}}</p>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Maintenance Description </th>
            <td mat-cell *matCellDef="let element"> {{element.descrp}} </td>
        </ng-container>


        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Maintenance Performed by: </th>
            <td mat-cell *matCellDef="let element"> {{element.mpb}} </td>
        </ng-container>


        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Date of validation before put into
                service: </th>
            <td mat-cell *matCellDef="let element"> {{element.dateServ}} </td>
        </ng-container>

        <ng-container matColumnDef="timeFrom">
            <th mat-header-cell *matHeaderCellDef> Validation performed by:</th>
            <td mat-cell *matCellDef="let element"> {{element.vpb}} </td>
        </ng-container>
        <ng-container matColumnDef="timeTo">
            <th mat-header-cell *matHeaderCellDef> Next maintenance planned on(date)</th>
            <td mat-cell *matCellDef="let element"> {{element.planneddate}} </td>
        </ng-container>


        <ng-container matColumnDef="downTimeFrom">
            <th mat-header-cell *matHeaderCellDef> Remarks</th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon id="action-icons" (click)="onEdit(element)" [ngClass]="{'disable':isEdit== true}">
                    create</mat-icon>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>